<p-toast></p-toast>
<!-- Contenedor de mensajes PrimeNG -->

<div class="contact-form-container">
  <div class="form-header">
    <h2 class="title">
      ¿Listo para <span class="highlight">Comenzar?</span>
      <span class="checkmark">✓</span>
    </h2>
    <p class="subtitle">
      Desata el potencial de tu negocio con nuestra experiencia experta.
    </p>
  </div>

  <p-card class="contact-card">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="nombre">Tu nombre</label>
        <input id="nombre" type="text" formControlName="nombre" pInputText />
        <small
          *ngIf="
            contactForm.get('nombre')?.invalid &&
            contactForm.get('nombre')?.touched
          "
          class="p-error"
        >
          Nombre es obligatorio
        </small>
      </div>

      <div class="p-field">
        <label for="correoElectronico">Tu correo electrónico</label>
        <input
          id="correoElectronico"
          type="email"
          formControlName="correoElectronico"
          pInputText
        />
        <small
          *ngIf="
            contactForm.get('correoElectronico')?.invalid &&
            contactForm.get('correoElectronico')?.touched
          "
          class="p-error"
        >
          Correo electrónico inválido o vacío
        </small>
      </div>

      <div class="p-field">
        <label for="telefono">Teléfono</label>
        <input id="telefono" type="tel" formControlName="telefono" pInputText />
        <small
          *ngIf="
            contactForm.get('telefono')?.hasError('required') &&
            contactForm.get('telefono')?.touched
          "
          class="p-error"
        >
          Teléfono es obligatorio
        </small>

        <small
          *ngIf="
            contactForm.get('telefono')?.hasError('pattern') &&
            !contactForm.get('telefono')?.hasError('required') &&
            contactForm.get('telefono')?.touched
          "
          class="p-error"
        >
          Solo se permiten números en el teléfono
        </small>
      </div>

      <div class="p-field">
        <label for="asunto">Asunto</label>
        <input id="asunto" type="text" formControlName="asunto" pInputText />
        <small
          *ngIf="
            contactForm.get('asunto')?.invalid &&
            contactForm.get('asunto')?.touched
          "
          class="p-error"
        >
          Asunto es obligatorio
        </small>
      </div>

      <div class="p-field">
        <label for="mensaje">Tu mensaje (opcional)</label>
        <textarea
          id="mensaje"
          formControlName="mensaje"
          pInputTextarea
          rows="4"
        ></textarea>
      </div>

      <button
        pButton
        type="submit"
        label="Enviar"
        class="submit-button"
      ></button>
    </form>
  </p-card>
</div>
