/* You can add global styles to this file, and also import other style files */
  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    z-index: 1001;
  }

  .whatsapp-float img {
    width: 70px;
    height: 70px;
  }

  .whatsapp-float:hover {
    transform: scale(1.1);
  }

  /* footer */
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  body {
    padding-top: 120px; /* Asegura que el contenido no quede debajo del header */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

.p-toast {
  z-index: 9999 !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.p-toast-message {
  border-radius: 8px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
  padding: 15px !important;
}

.p-toast-detail {
  font-size: 1rem !important;
}

.p-toast-message-success {
  background-color: #28a745 !important;
  color: white !important;
}

.p-toast-message-error {
  background-color: #dc3545 !important;
  color: white !important;
}

.p-toast-message-warn {
  background-color: #ffc107 !important;
  color: black !important;
}


  
  
  

  


  