/* You can add global styles to this file, and also import other style files */
.logo {
    width: 100px; /* Ajusta el tamaño según lo necesites */
    height: 100px;
  }

  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    z-index: 1001;
  }

  .whatsapp-float img {
    width: 70px;
    height: 70px;
  }

  .whatsapp-float:hover {
    transform: scale(1.1);
  }

  


  