<div class="inicio-container">
  <div class="hero-section relative">
    <img src="assets/empresa-grupo.png" alt="Grupo Empresarial" class="hero-image">
    <div class="hero-text absolute">
      <h2 class="text-3xl font-bold mb-2 text-white">DIALEX CONSULTORES S.A.S</h2>
      <p class="text-white">
        Es una empresa integrada por consultores empresariales con una experiencia de veinticinco (25) años en el mercado nacional especializados en la asesoría contabilidad general, tributación, contabilidad de costos, revisoría fiscal y auditoría interna.
      </p>
    </div>
  </div>

  <section class="info-section">
    <div class="content-wrapper">
      <!-- Imagen -->
      <div class="image-container">
        <img src="assets/empresa-grupo.png" alt="Imagen Corporativa" class="corporate-image" />
      </div>
      <!-- Texto -->
      <div class="text-container">
        <h3 class="highlight-text">Líderes en Consultoría Empresarial</h3>
        <h2 class="main-title">Comprometidos con tu Éxito</h2>
        <p class="description">
          En Dialex Consultores ofrecemos soluciones integrales en contabilidad, tributación y auditoría, adaptadas a las necesidades específicas de cada cliente. Nuestro equipo de expertos se dedica a optimizar los procesos financieros y administrativos de tu empresa para impulsar su crecimiento y rentabilidad.
        </p>
        <button pButton type="button" label="Saber más" icon="pi pi-arrow-right" class="learn-more-button" routerLink="/sobre-nosotros">
          Saber más <i class="pi pi-arrow-right"></i>
        </button>
      </div>
    </div>
  </section>
</div>
