<div class="inicio-container">
  <!-- Hero Section -->
  <div class="hero-section">
    <img src="assets/empresa-grupo.png" alt="Grupo Empresarial" class="hero-image">
    <div class="hero-text">
      <h2>DIALEX CONSULTORES S.A.S</h2>
      <p>
        Es una empresa integrada por consultores empresariales con una experiencia de veinticinco (25) años en el mercado nacional especializados en la asesoría contabilidad general, tributación, contabilidad de costos, revisoría fiscal y auditoría interna.
      </p>
    </div>
  </div>

  <!-- Info Section -->
  <section class="info-section">
    <div class="content-wrapper">
      <div class="image-container">
        <img src="assets/empresa-grupo.png" alt="Imagen Corporativa" class="corporate-image">
      </div>
      <div class="text-container">
        <h3 class="highlight-text">Líderes en Consultoría Empresarial</h3>
        <h2 class="main-title">Comprometidos con tu Éxito</h2>
        <p class="description">
          En Dialex Consultores ofrecemos soluciones integrales en contabilidad, tributación y auditoría, adaptadas a las necesidades específicas de cada cliente. Nuestro equipo de expertos se dedica a optimizar los procesos financieros y administrativos de tu empresa para impulsar su crecimiento y rentabilidad.
        </p>
        <button class="learn-more-button" routerLink="/sobre-nosotros">
          Saber más <i class="pi pi-arrow-right"></i>
        </button>
      </div>
    </div>
  </section>
</div>
